# == ${1:Class}: ${2:class name}
#
# ${3:Full description of class example_class here.}
#
# === Parameters
#
# ${4:Document parameters here.}
#
# === Variables
#
# ${5:Here you should define a list of variables that this module would require.}
#
# === Examples
#
# ${6:Provide an example of use}
#
# === Authors
#
# Eric Floerchinger <eric@pzo.vg>
#
# === Copyright
#
# Copyright 2013 Project Zen Online, LLC, unless otherwise noted.
#
